* {
    margin: 0;
    padding: 0;
}

#book-info{
    margin: 20px 15px;
}

@font-face {
  font-family: 'Gibson Bold';
  src: url('https://assets.poetryfoundation.org/assets/fonts/Gibson-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gibson Regular';
  src: url('https://assets.poetryfoundation.org/assets/fonts/Gibson-Regular.woff2') format('woff2');
}

.book-title {
    font-family: "Gibson Bold";
    margin: 0;
    padding: 0;
}
.book-subtitle {
    text-align: center;
    font-family: "Raleway";
}
.book-author-name {
    font-family: 'Gibson Regular', sans-serif;
    margin: 2px 0px;
    font-size: 14px;
    margin-top: 5px;
    letter-spacing: 2px;
    color: #1a1a1a;
}

.book-author-name u {
    color: #000;
    text-transform: uppercase;
}

.content {
    font-family: "EB Garamond";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
    padding: 0px 15px;
}

.content-type-poem .poem-stanza{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    font-weight: 600;
}

.content-type-poem .content-line {
    text-indent: -1em;
    padding-left: 1em;
}

.content-type-poem {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction:  column;
}

.content-type-poem div {
    display: inline-block;
}


.content-type-poem .poem-line-no{
    display: inline-block;
    text-align: right;
    font-weight: 600;
    margin-left: 20px;
}
