* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #E8F5FF;
}

h2,
h2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    font-family: 'Open Sans';
    font-weight: 600;
}

h2 p {
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 400;
    margin: 5px auto;
    word-wrap: nowrap;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 4px;
}

#file-name,
#file-type,
#sort-by,
.search {
    display: block;
    width: 90%;
    height: 47px;
    margin: 10px;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background-color: white;
    transition-duration: 0.3s;
    font-family: "Andika";
}

#file-type:hover,
#file-name:focus,
#file-name:hover,
#sort-by:hover {
    border: 1px solid #105880;
}

#file-name {
    height: 47px;
    font-family: 'Poppins';
    padding: none;
}

.search {
    position: relative;
    color: white;
    background-color: #105880;
    border: none;
}

.search:hover {
    background-color: #00A7FF;
}

.pby-logo {
    margin: 5px 0px;
    color: #999;
    font-size: 15px;
    font-family: 'Open Sans';
}

#result {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 4px;
}

.result_card {
    display: block;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.5s;
    margin: 10px 0px;
    word-wrap: break-word;
}

.result_card p {
    font-family: "Poppins";
    font-weight: 600;
    width: 100%;
    text-overflow: wrap;
}

.result_card span {
    font-weight: 400;
}

.file-type {
    color: white;
    background-color: #0074FF;
    font-family: "Poppins";
    border-radius: 2px;
    padding: 1px 5px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
}

.file-link {
    display: inline;
    font-family: "Poppins";
    width: 100%;
    padding: 5px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 3px;
    color: #008BFF;
    padding-right: 30px;
}

.file-link:hover {
    color: #00C54D;
}

.result-amount {
    margin: 0px auto 0px 0px;
    font-family: "Andika";
    font-size: 15px;
    font-weight: 400;
    color: grey;
}

.file {
    position: relative;
    width: 100%;
}

.file span {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    padding: 0px 6px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border: 1px solid #999;
    border-width: 0px 0px 0px 1px;
}

.file span i {
    color: #01B700;
    transition-duration: 0.3s;
}

.file span i:hover {
    color: #999;
}


.loader {
    position: absolute;
    border: 2px solid transparent;
    border-top: 2px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 0.5s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



#item {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    touch-action: none;
    user-select: none;
    z-index: 99;
}
#item:active {
    background-color: rgba(168, 218, 220, 1.00);
}
#item:hover {
    cursor: pointer;
    border-width: 20px;
}


/*---------- Embeder ----------*/

#container{
    position: absolute;
    top: 0;
    display: none;
    left: 0;
    height: 200px;
    width: 90%;
    background-color: transparent;
    z-index: 999;
}

.quick_actions{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    align-items: center;
    z-index: 9999999;
    margin: 0px;
    padding: 0px;
}

.quick_actions button{
    display: block;
    position: relative;
    background-color: white;
    touch-action: none;
    user-select: none;
    overflow: hidden;
    margin: 0px 0px 0px 2px;
    height: 35px;
    width: 40px;
    border: 3px solid #999;
    border-width: 2px 2px 0px 2px;
    border-radius: 5px 5px 0px 0px;
    z-index: 99999;
}

.quick_actions button i{
    font-size: 20px;
}

#view_file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #001188;
    box-shadow: 0px 0px 15px 1px black;
    padding: 0px;
    margin: 0px;
    border-width: 2px 0px 0px 0px;
    border-radius: 5px 0px 5px 5px;
}

#view_file video{
    margin-top: 10px;
    height: 100%;
    width: 100%;
}