* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #E8F5FF;
}

h2,
h3,
h2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    font-family: 'Open Sans';
    font-weight: 600;
}

h2 p {
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 400;
    margin: 5px auto;
    word-wrap: nowrap;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 4px;
}

#file-name,
#file-type,
#sort-by,
.search ,
#search-type{
    display: block;
    width: 90%;
    height: 47px;
    margin: 10px;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background-color: white;
    transition-duration: 0.3s;
    font-family: "Andika";
}

#file-type:hover,
#file-name:focus,
#file-name:hover,
#sort-by:hover {
    border: 1px solid #105880;
}

#file-name {
    height: 47px !important;
    font-family: 'Poppins';
    padding: none;
}

.search {
    position: relative;
    color: white;
    background-color: #105880;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.search:hover {
    background-color: #00A7FF;
}

.pby-logo {
    margin: 5px 0px;
    color: #999;
    font-size: 15px;
    font-family: 'Open Sans';
    text-align: center;
}

.version{
    color: #101010;
    font-size: 14px;
    font-family: "Poppins";
    margin-top: 5px;
}

.result_canvas {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 4px;
}


.ds_loader{
    margin: -15px 0px 10px 0px;
    left: 0px;
    font-family: 'Raleway';
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: #555;
}

.res_info{
    color: red;
    font-family: "Montserrat";
    display: inline-block;
    font-size: 15px;
}

.result_card {
    display: block;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.5s;
    margin: 10px 0px;
    word-wrap: break-word;
}

.result_card p {
    font-family: "Poppins";
    font-weight: 600;
    width: 100%;
    text-overflow: wrap;
}

.result_card span {
    font-weight: 400;
}

.file-type {
    color: white;
    background-color: #0074FF;
    font-family: "Poppins";
    border-radius: 2px;
    padding: 1px 5px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

.file-link {
    display: inline;
    font-family: "Poppins";
    width: 100%;
    padding: 5px;
    height: 35px;
    border: 1px solid #999;
    border-radius: 3px;
    color: #00A414;
    font-weight: 600;
    padding-right: 30px;
    font-size: 16px;
}

.file-link:hover {
    color: #444;
}

.media-link{
    display: inline;
    font-family: "Poppins";
    color: #00A414;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.media-link:hover{
    color: blue;
}

.result-amount {
    margin: 0px auto 0px 0px;
    font-family: "Andika";
    font-size: 15px;
    font-weight: 400;
    color: grey;
}

.file {
    position: relative;
    width: 100%;
}

.file span {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    padding: 0px 6px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    border: 1px solid #999;
    border-width: 0px 0px 0px 1px;
}

.file span i {
    color: #01B700;
    transition-duration: 0.3s;
}

.file span i:hover {
    color: #999;
}

#item {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    touch-action: none;
    user-select: none;
    z-index: 99;
}
#item:active {
    background-color: rgba(168, 218, 220, 1.00);
}
#item:hover {
    cursor: pointer;
    border-width: 20px;
}


/*---------- Embeder ----------*/

#container{
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    height: 200px;
    width: 90%;
    background-color: transparent;
    z-index: 999;
}

.quick_actions{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    align-items: center;
    z-index: 9999999;
    margin: 0px;
    padding: 0px;
}

.quick_actions button{
    display: block;
    position: relative;
    background-color: white;
    touch-action: none;
    user-select: none;
    overflow: hidden;
    margin: 0px 0px 0px 2px;
    height: 35px;
    width: 40px;
    border: 3px solid #999;
    border-width: 2px 2px 0px 2px;
    border-radius: 5px 5px 0px 0px;
    z-index: 99999;
}

.quick_actions button i{
    font-size: 20px;
}

#view_file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #001188;
    box-shadow: 0px 0px 15px 1px black;
    padding: 0px;
    margin: 0px;
    border-width: 2px 0px 0px 0px;
    border-radius: 5px 0px 5px 5px;
}

#view_file video{
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

/*---------- Loader ----------*/
.loader {
    position: relative;
    border: 2px solid transparent;
    border-top: 2px solid white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 0.6s linear infinite;
    vertical-align: middle;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*---------- Settings ----------*/

.sett-container{
    height: 300px;
    width: 95%;
    top: 20px;
    position: fixed;
    z-index: 5;
    background-color: white;
    display: none;
    align-items: center;
    padding: 0px;
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #A4A4A4;
    border-radius: 5px;
    touch-action: none;
    flex-direction: column;
}


.hidden_canvas{
    display: none;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    z-index: 4;
    user-select: none;
    cursor: pointer;
    touch-action: none;
}

.settings{
    position: relative;
    margin: 0px 10px 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 5rem;
    font-size: 14px;
    color: white;
    background-color: #0078FF;
    border: none;
    border-radius: 3px;
    touch-action: default;
    transition-duration: 0.3s;
}

.settings i{
    margin: 0px 3px;
    animation-name: none;
    animation: 1s infinite linear;
}

.settings:hover{
    box-shadow: 0px 0px 0px 3px #93D0FF !important;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}