* {
    margin: 0;
    padding: 0;
    font-family: none;
}

:root {
    --primary-color: #231917;
    --secondary-color: #2F211E;
    --primary-text-color: #A38B87;
    --secondary-text-color: #E0BFB8;
    --primary-icon-color: #FFB4A6;
    --primary-heading-color: #FFDAD2;
    --primary-button-background-color: #0366D6;
    --primary-hover-color: #BF616A;
}


body {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    transition-duration: 0.2s;
}

#navbar {
    margin: 0;
    padding: 0;
}


.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 5;
    margin: 0;
    padding: 0;
}

.nav_branding {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 0px;
    margin-right: auto;
    height: 100%;
}

.nav_branding img {
    height: 40px;
    margin: 0px 10px;
}

.nav_branding h2 {
    margin: 0px 2px;
}

.nav_branding span {
    color: #C900FF;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 0px auto;
    font-size: 20px;
    vertical-align: middle;
    color: var(--secondary-text-color);
}

.nav_menu span {
    margin: 0px 5px;
    font-size: 16px;
    vertical-align: middle;
}

.nav_menu_items {
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition-duration: 0.5s;
    background-color: var(--primary-color);
}

.nav_menu_items li {
    width: 100%;
    color: white;
    list-style-type: none;
}

.nav_menu_items a {
    display: block;
    color: var(--secondary-text-color);
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    line-height: 20px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition-duration: 0.2s;
}

.nav_menu_items a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-icon-color);
}



/*-----------------*/

#home {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: var(--primary-text-color);
    background-color: transparent;
    padding: 40px 20px;
}

.home-title {
    font-family: none;
    font-weight: 400;
    font-size: 60px;
    font-weight: 900;
    font-family: "Apple-Font";
    color: var(--secondary-text-color);
}

.home-description {
    margin: 10px 0px;
    width: 70%;
}

.home-actions {
    margin: 30px 0px;
    !important
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: transparent;
}
.home-actions a,
.download-buttons a {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: var(--primary-button-background-color);
    text-align: center;
    margin: 10px 0px;
    width: 190px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    transition-duration: 0.3s;
}

.home-actions a i {
    margin: 0px 5px;
}


.share-all {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.share-all a {
    height: 30px;
    width: 30px;
    font-size: 25px;
    background-color: transparent;
    margin: 10px 2px;
    color: var(--primary-icon-color);
}

.share-all .share-main {
    height: 30px;
    width: 60px;
    padding: 0px 5px;
    font-size: 10px;
    text-align: center;
    background-color: var(--secondary-color);
    text-transform: none;
    margin-left: 0px;
    margin-right: 5px;
    border-radius: 3px;
}


.share-all .share-main i {
    font-size: 16px;
}

.mockups {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px 0px;
}

.mockups img {
    width: 150px;
}


.article-container {
    position: relative;
    padding: 40px 20px;
    text-align: left;
    font-size: 20px;
    background-color: #281C1A;
}

.article-heading {
    font-size: 40px;
    font-weight: 700;
    font-family: inherit;
    color: var(--primary-heading-color);
    margin-bottom: 50px;
}

.article-content {
    padding: 25px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: 18px;
}

.article-content-image {
    margin: 30px 0px;
    border-radius: 8px;
    width: 100%;
}

#article-main {
    background-color: var(--primary-color);
}

#article-main .article {
    margin-bottom: 20px;
}

.download {
    margin-bottom: 20px;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
}
.thumbnail img {
    width: 98%;
    border-radius: 6px;
}

.table-app-details,
.table-app-details td,
.table-app-details th {
    border: 1px solid var(--secondary-text-color);
}

.table-app-details {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;
}
.table-app-details td {
    padding: 10px 5px;
    text-align: center;
    font-size: 18px;
}

.download-section {
    display: block;
    width: auto;
    background-color: transparent;
    border-radius: 10px;
    color: var(--primary-text-color);
}

.hr {
    background-color: var(--secondary-text-color);
    height: 2px;
    width: 100%;
    margin: 40px 0px;
}

.download-section ul li {
    margin: 10px 0px;
    line-height: 30px;
    color: var(--primary-text-color);
}

.download-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-buttons a {
    width: 100%;
    padding: 5px 0px;
    margin: 5px 0px;
}

.download-buttons a i {
    margin-right: 5px;
}

.download-section a:hover {
    background-color: var(--primary-hover-color);
    color: white;
    -webkit-tap-highlight-color: transparent;
}

.href-general {
    color: var(--primary-button-background-color) !important;
    text-decoration: none !important;
    background-color: transparent !important;
}

.features .article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.features .article-content .article-content-icon svg {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

.features .article-content .article-content-heading {
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 20px;
}

.features .article-content .article-content-description {
    text-align: center;
}

/* ----------------- Footer -----------------*/

#app-footer{
    padding: 40px 20px 10px 20px;
    background-color: var(--secondary-color);
    text-align: center;
}


.app-footer-links {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.app-footer-links a{
    display: block;
    margin: 10px 15px;
    color: var(--secondary-text-color);
    text-decoration: none;
    transition-duration: 0.2s;
}

.app-footer-links a:hover{
    color: var(--primary-icon-color);
}

#app-footer p{
    margin-top: 30px;
}