* {
    margin: 0;
    padding: 0;
}

#book-info{
    margin: 20px 15px;
}

.book-title {
    font-family: "Lato";
    margin: 0;
    padding: 0;
}
.book-subtitle {
    text-align: center;
    font-family: "Raleway";
}
.book-author-name {
    font-family: "Montserrat";
    margin: 2px 0px;
}

.content {
    font-family: "EB Garamond";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
    padding: 0px 15px;
}

.content-type-poem .poem-stanza{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    font-weight: 600;
}

.content-type-poem .content-line {
    text-indent: -1em;
    padding-left: 1em;
}