*{
    margin: 0;
    padding: 0;
}

#group_type{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    width: 150px;
    height: 25px;
    background-color: transparent;
    color: white;
    border: solid white;
    border-width: 0px 1px 1px 0px;
    border-radius: 0px 0px 3px 0px;
}

h2{
    text-align: center;
    text-decoration: bold;
    font-weight: bold;
    color: white;
    margin: 30px 0px 10px 0px;
}

#form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    background-color: #030071;
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
}

#data_mode{
    color: black;
    position: fixed;
    top: 20px;
    background-color: white;
    height: 300px;
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.5s;
    transition-duration: 0.5s;
    z-index: 7;
}

#data_mode .close{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 2px;
    top: 2px;
    background-color: red;
    outline: none;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.change_mode{
    position: absolute;
    top: 0;
    height: 25px;
    right: 0;
    outline: none;
    color: white;
    border: solid white;
    background-color: transparent;
    border-width: 0px 0px 1px 1px;
    border-radius: 0px 0px 0px 3px;
}

.details_mode_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radio_label{
    color: black;
    text-align: center;
    margin: 5px;
}


.number{
    position: relative;
    border: 2px solid lightgrey;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    padding: 8px 10px;
    width: 100%;
    margin: 5px 5px 0px 5px;
    background-color: transparent;
    z-index: 5;
}

.number:not(:focus){
    background-color: transparent;
    color: white;
}

.number:focus{
    background-color: white;
}



.search{
    margin: 5px;
    outline: none;
    background-color: #0072EF;
    border-radius: 3px;
    padding: 8px 30px;
    color: white;
    transition-duration: .2s;
    border: none;
}

.search:hover{
    box-shadow: 0px 0px 2px 3px white;
}
.seeall{
    margin: 5px;
    outline: none;
    border: none;
    background-color: #FF0093;
    border-radius: 3px;
    padding: 8px 30px;
    color: white;
    transition-duration: .2s;
}

.seeall:hover{
    box-shadow: 0px 0px 2px 3px white;
}

.switch{
    text-align: center;
    margin: 0px auto;
}

#result{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 90%;
    margin: 20px auto;
    background-color: white;
    background-color: #DC008C;
    padding: 10px;
    border-radius: 5px;
    color: white;
    transition-duration: 0.5s; 
}

.owner_photo{
    display: flex;
    width: 100%;
}

.divider{
    height: 5px;
    background-color: white;
    width: 100%;
    margin: 20px 0px 30px 0px;
}

#errors{
    background-color: #FFC500;
    height: 40px;
    width: 90%;
    margin: 20px auto 0px auto;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#amount{
    background-color: #FF0093;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
    display: none;
}

#verified_badge{
    color: #17A2F3;
    position: relative;
    z-index: 0;
    font-size: 20px;
}

#verified_badge:after{
    content: "";
    background-color: white;
    height: 9px;
    width: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
}


.sugg_container{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

#osint_sugg{
    position: absolute;
    margin: 0px 0px;
    display: block;
    max-height: 200px;
    width: 100%;
    background-color: white;
    z-index: -1;
    border: solid grey;
    border-radius: 0px 0px 3px 3px;
    border-width: 0px 1px 1px 1px;
    overflow: hidden scroll;
    top: -2px;
    z-index: 4;
    padding: 2px 0px 0px 0px;
    display: none;
}

.num_sugg{
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid lightgrey;
    margin: 0;
}

.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(255,255,255,1);
    flex-direction: column;
}

.loader img{
    width: 80%;
}