*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: none;
}

body{
    background-color: #0C101A;
}

#main-page{
    margin-top: 50px;
    padding: 20px;
}

#movie-title{
    font-family: "Teko";
    font-weight: 200;
}
#release-year,
#movie-runtime{
    font-family: "Oswald";
}


#movie-thumbnail,
#movie-poster{
    width: 100%;
    height: auto;
}

#movie-thumbnail{
    margin: 20px 0px;
    border-radius: 5px;
}

#original_language{
    font-family: "Teko";
    font-size: 18px;
}

#movie-popularity{
    font-family: "Teko";
    margin-bottom: 10px;
    font-size: 18px;
}

.movie_poster_container{
    display: flex;
    flex-direction: row;
}

#movie-poster{
    width: auto;
    height: 180px;
    border-radius: 5px;
}

#movie-description{
    margin-left: 10px;
    font-family: "Teko";
    font-weight: 10;
    letter-spacing: 0.5px;
    height: 180px;
    overflow-y: scroll;
    line-height: 15px;
}

.left_container{
    display: flex;
    flex-direction: column;
}

.genres_container{
    margin: 10px 0px 10px 5px;
}

.movie-genre{
    margin: 0px 5px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
}

.action_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#open_in_app{
    width: 98%;
    text-align: center;
    background-color: #FF0080;
    padding: 10px 0px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Oswald";
    -webkit-tap-highlight-color: transparent;
    transition-duration: 0.2s;
}

#open_in_app:hover{
    box-shadow: inset 0px 0px 0px 205px rgba(0,0,0,0.3);
}


/*---------- NavBar ----------*/

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #0C101A;
    border-bottom: 1px solid #192133;
    z-index: 5;
    margin: 0;
    padding: 0;
}

.nav_menu {
    display: block;
    position: absolute;
    left: 10px;
    color: #A1A3A9;
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
    transition-duration: 0.2s;
}

.nav_menu:hover {
    color: white;
}

.nav_items {
    list-style-type: none;
    background-color: #0C101A;
    top: 0;
    position: fixed;
    left: 0;
    height: 100%;
    width: 0px;
    overflow: hidden;
    transition-duration: 0.5s;
    z-index: 2;
}

.canvas {
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav_items ul li,
.nav_items li a {
    display: block;
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 400;
}

.nav_items li a {
    margin: 10px;
    padding: 5px 10px;
}

.nav_items li i {
    margin-right: 5px;
    color: #A1A3A9;
    transition-duration: 0.2s;
}

.nav_items a:hover i {
    color: white;
}

.user_id{
    font-family: 'Montserrat' !important;
    font-size: 14px;
    word-break: break !important;
    word-wrap: wrap;
    color: #F1F1F1 !important;
}

.nav_logo {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo img{
    height: 40px;
    width: auto;
}

#navbar h2 {
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Raleway';
}